<launch>
  <include file="$(find oxford_gps_decoder)/launch/gps_reading.launch" /> 
  <!-- <include file="$(find oxford_gps_eth)/launch/gps.launch" /> -->
  <!-- <include file="$(find external_interface)/launch/sbg_gps/sbg_ellipseD.launch" /> -->
  <include file="$(find external_interface)/launch/send_vehicle_output.launch" />
</launch>