<?xml version="1.0"?>

<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <!-- <include file="$(find can_interface)/launch/can_interface.launch" /> -->
    <include file="$(find drive_mechanism)/launch/drive_mechanism.launch" />
    <include file="$(find joystick)/launch/joystick.launch" />
    <include file="$(find overseer)/launch/overseer.launch" />

</launch>