<?xml version="1.0"?>

<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <!-- <include file="$(find can_interface)/launch/can_interface.launch" /> -->
    <include file="$(find drive_mechanism)/launch/drive_mechanism.launch" />
    <include file="$(find joystick)/launch/joystick.launch" />
    <include file="$(find overseer)/launch/overseer.launch" />
    <include file="$(find advanced_navigation_driver)/launch/with_rs232_usb_converter.launch" />
    <include file="$(find path_follower)/launch/path_follower.launch" />
    <include file="$(find robot_commander)/launch/robot_commander.launch" />



</launch>