<?xml version="1.0"?>

<launch>
    <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" /> -->
    <include file="$(find networking)/launch/networking.launch" />
    <include file="$(find can_interface)/launch/can_interface.launch" />
    <include file="$(find drive_mechanism)/launch/drive_mechanism.launch" />
    <include file="$(find joystick)/launch/joystick.launch" />
    <include file="$(find overseer)/launch/overseer.launch" />
    <include file="$(find advanced_navigation_driver)/launch/advanced_navigation_driver.launch" />
    <include file="$(find path_follower)/launch/path_follower.launch" />
    <include file="$(find robot_commander)/launch/robot_commander.launch" />
    <include file="$(find descender)/launch/descender.launch" />
    <!-- <include file="$(find external_interface)/launch/get_vehicle_input.launch" /> -->

</launch>