[Unit]
Description=%p roscore service

[Service]
User=root
ExecStart=/bin/bash -c "source /home/%p/.bashrc; /opt/ros/%p/bin/roscore"

[Install]
WantedBy=multi-user.target
